body {
    background-image: url('Web.png');
    background-size: cover;
}
.csty {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
    margin-left: 10%;
    margin-top: 23%;
    width: 1050px;
    height: 400px;
}
.h6{
    margin-left: 12.5%;
    font-weight: 400;
    margin-top: 10%;
    font-size: 14px;
    font-family: Segoe UI;
    }
.inpbox {
    background: #FCFBFB 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 8px;
    width: 580px;
    height: 35px;
    margin-left: 33%;
    margin-top: -5%;
}

#sendbtn {
      width: 280px;
      margin-left: -13%;
      border-radius: 14px;
      margin-top: -26%;
      font-family: Segoe UI;
}
@media screen and (max-width: 991px) {
    .csty {
     width: 350px;
     margin-left: 6%;
    }
    .si{
        margin-left: -10%;
    }
    .inpbox{
        width: 280px;
        margin-left: -13%;

    }
    .h6{
      margin-left: -12.5%;
    }
    body{
    background-image: url('Web.png');
    background-size: cover;
    background-position: 50% 75%;
    }
}
