{% extends 'acntpayslipsidebar.html' %}
{% load static %}
{% block content %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Infox core</title>
<style>

#firstbox{
  background-color: white;
  height: auto;
  float: left;
  width: 77%;
  margin-left: 12%;
  border-radius: 15px;
  /* margin-top: 7%; */
}

#firstbox label{
  margin-left: 75px;
  padding-top: 14px;
  color: #58B7AA;
  font-weight: 400;
  font-size: 20px;
  margin-top: 30px;
  width: 40%;
}

.birthday {
    height: 40px;
    width: 50px;
    margin-left: -5%;
    border-radius: 5px;
    margin-top: 0%;
    border: 1px solid #707070;
    
}
.Send{
  margin-top: 1%;
  float: right; 
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  height: 40px;
}
#box2{
  padding: 0.8% 5% 0.8% 4%;
  background-color: white;
  border-radius: 10px;
   float: auto;
  margin-top: 2%;
  margin-left: 2%; 
  width: 88%;
   margin-right: 6%; 
}
#box2 h5,#box2 img{
  float: left;
  margin-right: 78px;
  color: #393D3D;
}
h5{
  font-weight: 400;
  margin-top: 10px;
  color:  #393D3D;
}
#hiddendiv{
  height: auto;
  width: 90%;
  float: right;

}


.drop{
    height: 45px;
    width: 98%;
    margin-left:1%;
    border-radius: 5px;
    margin-right: 0px;

}
#nav{
  width:100%;
}




  </style>
      </head>
<body>

<label id="myprofile" style="margin-left: 10%;">SEND PAYMENT NOTIFICATION</label>
<div class="row mt-3">
<div class="col-xl-12">
<div id="firstbox" class="shadow p-3 bg-white">
    
  <div class="row ">
      <label style="margin-left: 1PX;">SELECT DEPPARTMENT</label>&nbsp;
      
       <select id="regdetailsdept" name="regdetails" class="drop form-control" required>
       <option value=""> </option>
          {% for regdetails in edepartments %}
             <option value="{{ regdetails.department}}">{{ regdetails.department }}</option>
          {% endfor %}
      </select>
    </div>
    

    
      
<div class="row ">
  <div class="col-md-4 "></div>
  <div class="col-md-4 "></div>
  <div class="col-md-4 ">
    
    <button id="btnSearch" type="button" class="btn btn-primary Search w-100 mt-3"  >Search</button>
  </div>
  </div>
  </div> 
  
<div class="row w-100">
  <div class="col-md-12">
<div id="hiddendiv" >
</div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
    
    $("#btnSearch").click(function () {
       const url = $("#personForm").attr("data-cities-url"); 
       const deptId = $("#regdetailsdept").val();
      //  const desgId = $("#regdetailsDesig").val();


        $.ajax({
            url: 'acntattend',
            data: {
                'dept_id': deptId,
                // 'desig_id':desgId
            },
            success: function (data) {
                $("#hiddendiv").html(data);
            }
        });
    });
  function showDiv() {
      document.getElementById('hiddendiv').style.display = "block";
  }
</script>

</body>

</html>
{% endblock %}