<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   {% load static %}
    <link rel="stylesheet" href="{% static 'core.css'%}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>DEVperformance</title>


<style>

#firstbox {
  background-color: white;
  height: 240px;
  margin-right: 290px;
  width: 50%;
  margin-top: -5px;
  border-radius: 20px;
  float: right;
}
#firstbox #secondbox div{
  float: left;
}
#firstbox label{
  margin-left: 40px;
  padding-top: 14px;
  color: #58B7AA;
  font-weight: 400;
  font-size: 20px;
  margin-top: 30px;
  width: 200px;
}
.Search{
  margin-top: 10px;
  float: right;
  margin-right: 150px;
  padding-left: 3%;
  padding-right: 3%;

}
#secondbox {
  background-color: white;
  height: 490px;
  margin-right: 160px;
  width: 1000px;
  margin-top: 15px;
  border-radius: 20px;
  float: right;
}
#secondbox label{
  margin-left: 40px;
  padding-top: 14px;
  color: #58B7AA;
  font-weight: 400;
  font-size: 20px;
  margin-top: 30px;
  width: 200px;
}

.dropdown-menu{
  width: 400px;
  border-color: #707070;
}



</style>
      </head>
<body>
<div  id="nav" class="container-fluid">
        <a class="one" id="infox"><b>iNFOX</b></a>
        <a class="two" id="core"><b>Core</b></a>
        <a class="three" id=""></a>
        <span class="four"><img src="{% static 'Ellipse2.png' %}" width="50" height="50" id="img2" class="topimg"></span>

</div>


<div class="sidenav">
     <a href="DEVmyprof1" class="col" id="sidebox1">MY PROFILE</a>
      <a href="DEVtrainees1" class="col" id="sidebox1">TRAINEES</a>
      <a href="DEVtask" class="col" id="sidebox1">TASKS</a>
      <a href="DEVproject" class="col" id="sidebox1">PROJECTS</a>
      <a href="DEVattendance3" class="col" id="sidebox1">ATTENDANCE</a>
      <a href="DEVreportissue" class="col" id="sidebox1">REPORT ISSUES</a>
      <a href="DEVpayments" class="col" id="sidebox1">PAYMENTS</a>
      <a href="DEVapplyleave" class="col" id="sidebox1">APPLY LEAVE</a>
</div>

<div><label id="myprofile">PERFORMANCE</label>
<div id="firstbox" class="shadow p-3 bg-white">
<div>
      <label  style="  margin-left: 10px;">SELECT DEPARTMENT</label>&nbsp
       <select id="department" name="department" class="drop" required style="width: 450px; height: 40px;" >

{#                    {% if forloop.all%} {% endif %}#}
                    <option value="department">python</option>
                    <option value="department">ML</option>
                    <option value="{{ t.department }}">{{ t.department }}</option>


       </select>
</div>

         <label style="margin-left:-5px; font-size:20px;">&nbsp;&nbsp;&nbsp;SELECT TRAINEE</label>
         <select id="regdetailsdept" name="regdetails" class="drop" required style="width: 450px; height: 40px; margin-left: 20px;" >

            <option value="">riya</option>
            <option value="">siya</option>
            <option value="">basil</option>
            <option value="">arun</option>
            <option value="{{ t.trainee }}">{{ t.trainee }}</option>
{#      <input type="hidden" name="desi" {{ t.designation }}>#}
{#        <input type="hidden"name="depart" {{ t.department }}>#}


        </select>



  <a href=""><button type="submit" class="btn btn-primary Search" style="border-radius: 20px; margin-right: 100px; margin-top: 10px;"> OK </button></a>

</div>
</div>
</div>
<div id="secondbox" class="shadow p-3 bg-white">
<form action="DEVperformanceview" method="POST">
    {% csrf_token %}
    <label style="margin-left:10px; font-size:20px;">&emsp;ATTENDANCE</label>
    <input type="int" id="int" style="width: 150PX;margin-left: -10px;"><br>
    <label style="margin-left:-10px; font-size:20px;">&emsp;&emsp;PUNCTUALITY</label>
    <input type="int" id="int" style="width: 150PX; margin-left: 10px;"><br>
    <label style="margin-left:-10px; font-size:20px;">&emsp;&emsp;PERFORMANCE</label>
    <input type="int" id="int" style="width: 150PX;margin-left: 10px;"><br>
    <label style="margin-left:10px; font-size:20px; margin-top: 10px;">&emsp;&emsp;WORKCOMPLETION</label>
    <input type="int" id="int" style="width: 150PX; margin-left: -10px;"><br>
    <label style="margin-left:-10px; font-size:20px;">&emsp;&emsp;ATTITUDE</label>
    <input type="int" id="int"  style="width: 150PX;margin-left: 10px;">
    <div class="col">
        <div class="row">
            <label style="margin-left:520px; font-size:20px;margin-top: -420px;">&emsp;&emsp;TIMECOMPLETION</label>
            <input type="int" id="int" style="width: 150PX; margin-left: 30px; margin-top: -380px; height: 35px;"><br>
            <label style="margin-left:480px; font-size:20px;margin-top: -340px;">&emsp;&emsp;EXTRA WORKS</label>
            <input type="int" id="int" style="width: 150PX; margin-left:70px; margin-top: -330px; height: 35px;"><br>
            <label style="margin-left:490px; font-size:20px; margin-top: -280px;">&emsp;&emsp;CREATIVITY</label>
            <input type="int" id="int" style="width: 150PX; margin-left:60px; margin-top: -270px; height: 35px; "><br>
            <label style="margin-left:490px; font-size:20px;margin-top: -230px;">&emsp;&emsp;PERFECTION</label>
            <input type="int" id="int" style="width: 150PX; margin-left:60px;margin-top: -220px; height: 35px;"><br>
            <label style="margin-left:490px; font-size:20px; margin-top: -170px;">&emsp;&emsp;ACCURACY</label>
            <input type="int" id="int" style="width: 150PX; margin-left:60px; margin-top: -160px; height: 35px;">

            <a href=""><button type="submit" class="btn btn-primary Search" style="border-radius: 20px; margin-left: 860px; margin-top: -90px;"> OK </button></a>

        </div>
    </div>


</form>
</div>




<script>


</script>






</body>
</html>