<!DOCTYPE html>
<html>
<head>
  <title>Infox core</title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      #text1 {
/* width: 755px;
height: 64px; */
text-align: left;
font: normal normal normal 41px Segoe UI;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

#text2 {
/* width: 451px;
height: 40px; */
text-align: left;
font: normal normal normal 30px/40px Segoe UI;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.csty {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
     border-color: white;
   
    opacity: 1;
}

.inpbox {
    background: #FCFBFB 0% 0% no-repeat padding-box;
border: 1px solid #707070;
}

#sendbtn {
    position: relative;
    margin-left: 120px;
    width: 110px;
height: 53px;
    background: #65D0F9 0% 0% no-repeat padding-box;
    color: white;
    border-width: 1px;
    border-color: white;
    border-radius: 11px;
    opacity: 1;
}

      .img{
        height: 1600px;
        width: 100%;
      }
     

    .input-text {
  margin-bottom: 45px;
}
    </style>
</head>
<body>

<div class="continer-fluid">
<div id="demo" data-ride="carousel" data-interval="3000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="img" src="Web1920–4.png" alt="Los Angeles">
      <div class="carousel-caption" style="margin-top: 5cm">
        <div id="firstbox" class="shadow p-3 bg-white">

    <section class="pb-1 mt-5 mt-lg-4">
        <div class="container">
            <div class="card csty" style="max-width: 880px;">
                <div class="card-body mx-3 px-3 px-sm-4">
                    <div style="font-family: 'Segoe UI'; font-size: 23px;">
                        <form method="post" action="">
                            
                            <div class="row pt-5">
                                <div class="col-4">
                                    <label style="color: black;">Name<span style="color: red;"> </span></label>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="name" class="form-control inpbox box1"  >
                                </div>
                            </div><br>

                            <div class="row pt-3">
                                <div class="col-4">
                                    <label style="color: black;">Email<span style="color: red;"> </span></label>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="desig" class="form-control inpbox box1" required>
                                </div>
                            </div><br>

                            <div class="row pt-3">
                                <div class="col-4 ">
                                    <label style="color: black;">Qualification<span style="color: red;"></span></label>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="cname" class="form-control inpbox box1" required>
                                </div>
                            </div><br>

                            <div class="row pt-3">
                                <div class="col-4">
                                    <label style="color: black;">Designation<span style="color: red;"> </span></label>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="itype" class="form-control inpbox box1" required>
                                </div>
                            </div><br>

                            <div class="row pt-3">
                                <div class="col-4">
                                    <label style="color: black;">Phone no<span style="color: red;"> </span></label>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="itype" class="form-control inpbox box1" required>
                                </div>
                            </div><br>
                            <div class="row pt-3">
                                <div class="col-4">
                                    <label style="color: black;">Joining date<span style="color: red;"> </span></label>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="itype" class="form-control inpbox box1" required>
                                </div>
                            </div><br>


                            <div class="row pt-3">
                                <div class="col-4">
                                    <label style="color: black;">Relieving date<span style="color: red;"> </span></label>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="itype" class="form-control inpbox box1" required>
                                </div>
                            </div><br>

                           <div class="row pt-3">
                               <div class="col-4">
                                   <label class="lab" style="color: black;">Performance<span style="color: red;"> </span></label>
                                </div>
                            <div class="col-6">
                                <input type="email" name="email" class="form-control inpbox box1" required>
                            </div>
                           </div>

                        </form>
                       </div>  


                        </form>

                    </div>

                </div>
          </div>
        </div>
    </section>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  


</div>

</script>
</body>
</html>
