{% extends 'sidebarnew.html'%}
{%load static%}
{%block content%}
<style>
#firstbox{
  background-color: white;
  height: auto;
  float: right;
  width: 45%;
  margin-right: 20%;
    margin-top: 1%;
  border-radius: 15px;
  }
  </style>
      </head>
<body>
<!-- <div  id="nav" class="container-fluid">
        <a class="one" id="infox"><b>iNFOX</b></a>
        <a class="two" id="core"><b>Core</b></a>
        <a class="three" id=""></a>
          {% for t in mem %}
    {% if forloop.first %}{% endif %}
        <span class="four"><img src="{{ t.employeeimage.url }}" class="rounded-circle"  width="50" height="50" id="img2"></span>
{% endfor %}
</div>
<div class="sidenav">
  <a href="hr" class="col" id="sidebox1">MY PROFILE</a>
  <a href="hrtasks" class="col" id="sidebox1">TASKS</a>
  <a href="hrprojects" class="col" id="sidebox1">PROJECTS </a>
  <a href="hrperformance" class="col" id="sidebox1">PERFORMANCE </a>
  <a href="hremployeess" class="col" id="sidebox1">EMPLOYEES </a>
  <a href="hrtrainees1" class="col" id="sidebox1">TRAINEES </a>
  <a href="hrreportissues" class="col" id="sidebox1">REPORTED ISSUES</a>
  <a href="hrmarketing1" class="col" id="sidebox1">MARKETING</a>
  <a href="hrPayments1" class="col" id="sidebox1">PAYMENTS</a>
  <a href="hrattendance" class="col" id="sidebox1">ATTENDANCE</a>
  <a href="hrattendance2" class="col" id="sidebox1">APPLY LEAVE</a>
</div> -->
<div><label id="myprofile">EMPLOYEES</label>
             {% for st in emp %}

  <div id="firstbox" class="shadow p-3 bg-white" >

   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ st.employeeimage.url }}"  width="40" height="40">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-size: 20px;margin-left: 10px;">{{ st.name }}</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-size: 20px;margin-left: 10px;">{{ st.designation }}</label>

  </div>
          {% endfor %}

</div>
{%endblock%}